
/* PADDING Y MARGIN PARA TODO EL DOCUMENTO */
*{
    padding: 0;
    margin: 0.0;
}

/* FONDO PARA EL BODY */
body{
    
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/628/023/non_2x/scandinavian-nordic-pattern-background-vector.png');
    
}


/* ESTILOS PARA LA CLASE CONTENEDOR */
.contenedor{
    background-color: #99868ff6;
    padding: 1.063rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: -1px 17px 16px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 17px 16px 10px rgba(0,0,0,0.75);
    box-shadow: -1px 17px 16px 10px rgba(0,0,0,0.75);
}

/* FONDO MENU DE NAVEGACION */
.navbar{
    background-color: #212237;
    
}
/* SOMBRA PARA EL MENU */
.menu{
    background-color: #212237;
    -webkit-box-shadow: 2px 10px 3px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 3px 3px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 3px 3px rgba(0,0,0,0.75);
}

/* ESTILOS AGRANDAR PARA EL LOGO DEL MENU */
.navbar-brand{
    transition: transform(0.5);
}
.navbar-brand:hover{
    transform: scale(1.6);
}

/* FONDO CABECERA */
.cabecera{
    background-color: #212237;
    
}
/* ESTILO PARA LA LETRA DEL MENU, COLOR, TAMAÑO,ETC  */
.fuenteMenu a{
    font-family: 'Teko', sans-serif;
    font-size: 1.688rem;
    transition: transform(0.5);
}
.fuenteMenu a:hover{
    transform: scale(1.1);
}

/* ESTILO PARA LA LETRA DEL FOOTER, COLOR, TAMAÑO,ETC  */
.fuenteFooter a, p{
    font-family: 'Teko', sans-serif;
    font-size: 1.688rem;
}

/* ESTILO PARA LOS ENLACES DEL MENU */
.linksMenu a{
    color:white;
    text-decoration: none;

}

/* ESTILOS PARA FOOTER */
.pieDePagina
{
    
    padding: 3.125rem ;
    color:#f0f9ff;
    background-color:#212237;
    -webkit-box-shadow: -1px -4px 16px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -4px 16px 10px rgba(0,0,0,0.75);
    box-shadow: -1px -4px 16px 10px rgba(0,0,0,0.75);
}
/* TITULOS H3 DEL FOOTER */
.pieDePagina h3 
{
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
}
/* ESTILOS PARA LA LISTA NO ORDENADA DEL FOOTER */
.pieDePagina ul 
{
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 0.875rem;
    margin-bottom: 0;
}
/* ESTILOS PARA LOS ENLACES DE LA LISTA NO ORDENADA DEL FOOTER */
.pieDePagina ul a 
{
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}
.pieDePagina ul a:hover 
{
    opacity: 0.8;
}
/* ESTILOS PARA HACER RESPONSIVE EL FOOTER */
@media(max-width: 47.938rem) 
{
    .pieDePagina .item:not(.social) 
    {
        text-align: center;
        padding-bottom: 1.25rem;
    }
}
.pieDePagina .item.text 
{
    margin-bottom: 2.25rem;
}
@media(max-width: 47.938rem) 
{
    .pieDePagina .item.text 
    {
        margin-bottom: 0;
    }
}
.pieDePagina .item.text p 
{
    opacity: 0.6;
    margin-bottom: 0;
}
.pieDePagina .item.social 
{
    text-align: center;
}
@media(max-width: 61.938rem) 
{
    .pieDePagina .item.social 
    {
        text-align: center;
        margin-top: 2.25rem;
    }
}

/* ESTILOS PARA EL SOCIAL BAR DEL FOOTER */
.pieDePagina .item.social > a  
{
    font-size: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0.5rem;
    color:#fff;
    opacity: 0.75;
}
.pieDePagina .item.social > a:hover 
{
    opacity: 0.9;
}
/* ESTILOS PARA EL APARTADO DE COPYRIGHT FOOTER */
.pieDePagina .copyright 
{
    text-align: center;
    padding-top: 1.5rem;
    opacity: 0.3;
    font-size: 1.875rem;
    margin-bottom: 0;
}
/* FONDOS PARA LOS ICONOS DEL SOCIAL BAR */
.icono-instagram{
    background-color: #9848bd;
}
.icono-twitter{
    background-color: rgb(130, 130, 233);
}
.icono-facebook
{
    background-color:rgb(50, 50, 110);
}
.icono-telefono
{
    background-color:rgb(0, 255, 0);
}
.icono-mail
{
    background-color:red;
}

/* CLASE PARA DESACTIVAR UN ENLACE */
.enlaceDesactivado
{
    pointer-events: none; 
    cursor: default;
}
/* MARFEN Y FUENTE PARA LA LISTA DEL FOOTER */
.listaFooter
{
    margin-left: 0.625rem;
    font-size: 85%;
}

/* ESTILOS PARA EL MAPA DE MAPS */
.mapa
{
    width: 15.625rem;
    height: 12.5rem;
}
.mapa iframe
{
    border-radius: 0.625rem;
    width: 100%;
    height: 100%;
    box-shadow:black 3px 5px 3px;
}
.marco
{
    background-color:rgba(230, 222, 222, 0.301);
    width: 20%;
    height: 100%;
    text-align: center;
    border-radius: 0.625rem;
    box-shadow:black 3px 5px 3px;

}
.marco a
{
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    transition: trasform(0.5);
}
.marco a:hover
{
    transform: scale(1.1);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS PARA EL LOADER */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lds-roller
{
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
}
.lds-roller div
{
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 2.5rem 2.5rem;
}
.lds-roller div:after
{
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:#fdd;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1)
{
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after
{
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2)
{
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after
{
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3)
{
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after
{
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4)
{
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after
{
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5)
{
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after
{
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6)
{
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after
{
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7)
{
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after
{
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8)
{
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after
{
    top: 56px;
    left: 12px;
}
@keyframes lds-roller
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
/* ESTILOS LOADER  */
.loader{
    background:#212237;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.3s ease-in-out  ;
}
.loader2
{
    clip-path: circle(0% at 100% 0);
}
.loaderText
{
    font-family: 'Fredoka One', cursive;
    color:white; 
    position: relative; 
    top: 15%; 
    left: -0.5%;
    font-size: 1.188rem;
}


/* VENTANA EMERGENTE PARA MODAL DE BOOTSTRAP */

.modal-header{
    background-color: #212237;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.modal-body{
    font-family: 'Fredoka One', cursive;
}
.modal-footer{
    color: white;
    font-family: 'Fredoka One', cursive;
    
}
.modal-footer span>button{
    text-decoration: none;
    
}


/* ESTILOS MENSAJES DE ERROR */


.mensajeError-oculto{
    
    font-family: Arial, Helvetica, sans-serif;
    display: none;
 
}

.mensajeError-activo{
    font-size: 0.977rem;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

}
/* ESTILOS PARA EL CONTENEDOR DEL FORMULARIO */
.contenedorFormulario{
    background-color:white; 
    padding:2%; 
    border-radius: 0.625rem;
    -webkit-box-shadow: 1px 3px 6px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 6px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 6px 11px rgba(0,0,0,0.75);
}

/* ESTILOS PARA LOS LABEL */
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
/* ESTILOS PARA LOS LEGEND DE FORMULARIOS */
legend{
    font-family: 'Audiowide', cursive;
}

/* MENSAJE ERROR PHP*/
.errorFormulariosBD{
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 6px;
}


/* TITULOS PARA LA PAGINA PRINCIPAL*/
.titulosPrincipal{
    font-family: 'Audiowide', cursive;
    color: white;
    
    -webkit-text-stroke: 2px black;
}

/* ICONO DE CERRAR MODAL BOOTSTRAP */
.close span{
    color:white;
}

/* ESTILO DE LETRA PARA MODAL DE BOOTSTRAP */
.modal-header{
    font-family: 'Audiowide', cursive;
}

/* ESTILOS PARA  CONTENDOR EN BLANCO */
.contenedorPerfil{
    background-color: #f0f9ff;
    border-radius: 0.625rem;
    padding: 5%;
    -webkit-box-shadow: 1px 3px 6px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 6px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 6px 11px rgba(0,0,0,0.75);

}
/* ESTILOS PARA  TITULOS H2 DE CONTENEDOR BLANCO */
.contenedorPerfil h2{
    font-family: 'Audiowide', cursive;

}
/* ESTILOS PARA SPAN CONTENDOR EN BLANCO */
.contenedorPerfil span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.367rem;
    

}

/* ESTILO PARA  FOTO TE PERFIL */
.fotoPerfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 23.438rem;
    border: solid black 2px;
    box-shadow: 3px 5px 3px;
    background-image: url('https://www.labicok.com/wp-content/uploads/2020/06/default-user-image.png');
    transition-property: filter;
    transition-duration: 0.5s ;
   
  
    
}
/* ESTILO PARA OSCURECER FOTO TE PERFIL AL PASAR EL RATON */
.fotoPerfil:hover{
   
    filter: brightness(40%);
    
}

/* ESTILO Y POSICION BOTONES DE ELIMNAR Y MODIFICAR TABLAS*/
.botonesTablasEdicion{
    display:grid; 
    grid-template-columns: auto auto; 
    grid-gap:2%;
}
/* ESTILO PARA EL THEAD DE LAS TABLAS*/
.cabeceraTabla{
    border-radius: 0.625rem;
}
/* FUENTE PARA TODAS LAS TABLAS DE LA PAGINA */
table{

 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

/* ESTILO PARA LAS TARJETAS DEL CATALOGO */
.tarjetasProductos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#212237e3; 
    border-radius:0.625rem;
    color: white;
   
}
.tarjetasProductos img{
    border-radius: 0.625rem 0.625rem 0px 0px;
    height: 12.5rem;
}

/* ESTILO PARA EL BOTON DE LAS BARRAS DE BUSQUEDA */
.botonBuscar{
    background-color: #212237;
    transition-property: bachground;
    transition-duration: 0.5s ;
}
.botonBuscar:hover{
   background-color:#2a2c42 ;
}

/* ESTILOS RESPONSIVE PARA EL BOTON DE PAYPAL*/
/* Media query for mobile viewport */
@media screen and (max-width: 400px) {
    #paypal-button-container {
        width: 100%;
    }
}

/* Media query for desktop viewport */
@media screen and (min-width: 400px) {
    #paypal-button-container {
        width: 250px;
    }
}

/* FUENTE PARA LOS TITULOS DEL HOME */
.tituloHome{
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: 1.8px black;
    text-shadow: 6px 5px 6px #131212;


}

/* CAMBIAR COLOR DE LAS FLECHAS DE BOOTSTRAP*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* ESTILOS PARA LOS ENLACES DEL MAPA DEL SITIO */
.listaSiteMap a{
    color: red;
    text-decoration: none;
}
.listaSiteMap a:hover{
    color: blue;
  
}


